<table class='rounded shadow'><tr>
    <td><input name='color' class='color' <%= ColorPicker %> /></td>
    <td><input name='name' /></td>
    <td><input type='submit' value='Create' /></td>
</tr></table>
