<h3>Users (<a href="javascript://" class="add">add</a>) </h3>

<%for(var i = 0; i < this.length ; i++){%>
	<li <%= this[i]%>>
		<%== $.View('//kalkuli/user/list/views/user.ejs', this[i] )%>
	</li>
<%}%>
